In [12]:
analyst = 'Anatoly'

In [23]:
years = 2

In [38]:
has_job = False

In [39]:
analyst_2 = 'Olga'

In [40]:
years_2 = 3

In [41]:
has_job_2 = True

In [1]:
analysts = ['Anatoly', 'Olga', 'Beslan']

In [2]:
years = [2, 3, 4]

In [3]:
analysts.append('Michael')

In [4]:
analysts.pop(3)

'Michael'

In [5]:
analysts

['Anatoly', 'Olga', 'Beslan']

In [11]:
has_job = False

In [26]:
if has_job:
    happy_message = 'Anatoly is happy!'
    print(happy_message)
else:
    sad_message = 'Anatoly is sad!'
    print(sad_message)

Anatoly is sad!

In [27]:
if has_job:
    message = 'Anatoly is happy!'
    print(message)

In [87]:
job_years = 0.5

In [88]:
salary = 200000

In [89]:
message = 'Addition is equal {coef}. New salary is {new_salary}!'

In [90]:
if job_years < 1:
    coefficient = 0
elif job_years >= 1 and job_years <=2:
    coefficient = 0.2
else:
    coefficient = 0.4

new_salary = salary + salary * coefficient

print(message.format(coef=coefficient, new_salary=new_salary))

Addition is equal 0. New salary is 200000!

In [99]:
analysts = ['Anatoly', 'Olga', 'Beslan']

In [100]:
for i in analysts:
    if i == 'Anatoly':
        print('Analyst name is {}!'.format(i))

Analyst name is Anatoly!

In [112]:
analysts_data = {'Anatoly': [2, 100000], 'Olga': [3, 200000], 'Beslan': [4, 300000]}

In [108]:
analysts_data['Michael'] = 10

In [110]:
analysts_data['Michael']

10

In [123]:
for i in analysts_data:
    if analysts_data[i][0] > 3:
        print(i)

Beslan

In [12]:
worker = ['Olya', 'Silyutina', 350000, 3]

In [16]:
if worker[3] < 2:
    position = 'junior'
elif worker[3] >=2:
    position = 'middle'
else:
    position = 'senior'
status = '{0} {1} is {2}'.format(worker[0], worker[1], position)

In [17]:
print(status)

Olya Silyutina is middle

In [18]:
values = [12, 134, 10, 47, 100, 20, 50, 160, 210]

In [19]:
workers = [['Ivan', 'Ivanov', 100000, 2], ['Petr', 'Petrov', 150000, 2], ['Sidor', 'Sidorov', 200000, 3]]

In [26]:
for i in workers:
    if i[3] < 2:
        pos = 'junior'
    elif i[3] >= 2:
        pos = 'middle'
    elif i[3] > 5:
        pos = 'senior'
    print('{0} {1} is {2}'.format(i[0], i[1], pos))

Ivan Ivanov is middle
Petr Petrov is middle
Sidor Sidorov is middle