In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

In [5]:
retail = pd.read_csv('5_data.csv.zip', compression = 'zip', encoding='ISO-8859-1')

In [7]:
retail.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [8]:
retail.shape

(541909, 8)

In [12]:
retail_columns = retail.columns
retail_columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [13]:
#Проверить на наличие дубликатов

In [19]:
retail[retail.duplicated()].shape[0]

0

In [18]:
retail = retail.drop_duplicates()

In [22]:
retail[retail.InvoiceNo.str.startswith('C')].shape[0]

9251

In [23]:
#Оставить заказы с количеством, большим 0

In [24]:
retail = retail.query('Quantity > 0')

In [25]:
retail.shape

(526054, 8)

In [26]:
#Посчитайте число заказов для каждого пользователя (CustomerID) из Германии (Germany). 
#Оставьте только тех, кто совершил более N транзакций (InvoiceNo), 
#где N – 80% процентиль. Запишите полученные id пользователей в germany_top (не весь датафрейм, только id).

In [40]:
germany_top = retail.query('Country == "Germany"') \
    .groupby('CustomerID', as_index=False) \
    .agg({'InvoiceNo': 'nunique'}) \
    .rename(columns={'InvoiceNo' : 'count'}) \
    .query('count > count.quantile(q=0.8)').CustomerID

In [52]:
germany_top_list = germany_top.to_list()

In [59]:
top_retail_germany = retail.query('CustomerID in @germany_top')
top_retail_germany.shape

(4175, 8)

In [60]:
retail.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [61]:
#Сгруппируйте top_retail_germany по коду товара (StockCode). 
#Какой из продуктов добавляли в корзину чаще всего, кроме POST? 

#Note: одним заказом считается единовременная покупка любого количества товара, т.е. без учета Quantity.

In [67]:
top_retail_germany.groupby('StockCode') \
    .agg({'Quantity':'count'}) \
    .sort_values('Quantity', ascending=False).drop('POST').idxmax()

Quantity    22326
dtype: object

In [68]:
retail['Revenue'] = retail.Quantity * retail.UnitPrice

In [69]:
retail.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Revenue
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34

In [76]:
retail.groupby('InvoiceNo', as_index=False) \
    .agg({'Revenue': 'sum'}) \
    .sort_values('Revenue', ascending=False) \
    .rename(columns={'Revenue' : 'TotalRevenue'}) \
    .head(5).InvoiceNo.to_list()

['581483', '541431', '574941', '576365', '556444']