In [128]:
import os 
import pandas as pd

In [175]:
path = 'C:\\Users\\user\\Documents\\Karpov Courses\\Python\\lesson_4\\data'
dates = os.listdir(path)
dates

['2020-12-03',
 '2020-12-04',
 '2020-12-05',
 '2020-12-06',
 '2020-12-07',
 '2020-12-08',
 '2020-12-09']

In [176]:
d = {'product_id' : [None], 'quantity': [None], 'name': [None], 'date': [None]}
df = pd.DataFrame(data=d)
df

  product_id quantity  name  date
0       None     None  None  None

In [177]:
for dates in dates:
    names = os.listdir(path + '\\' + dates[0:12])
    for name in names:
        file = str(path + '\\' + dates[0:12] + '\\' + str(name) + '\\' + 'data.csv')
        df1 = pd.read_csv(file)
        df1['name'] = str(name)
        df1['date'] = dates
        df = pd.concat([df, df1])

In [123]:
path + '\\' + dates[1]

'C:\\Users\\user\\Documents\\Karpov Courses\\Python\\lesson_4\\data\\2020-12-04'

In [173]:
pd.read_csv('C:\\Users\\user\\Documents\\Karpov Courses\\Python\\lesson_4\\data\\2020-12-03\\Alexey_Smirnov\\data.csv')

   Unnamed: 0  product_id  quantity
0           0          47         1
1           1          57         1
2           2          14         2
3           3          52         1
4           4           1         4
5           5          94         4

In [179]:
df.shape

(162, 5)