In [1]:
import pandas as pd

In [100]:
link = 'http://s3.amazonaws.com/alexa-static/top-1m.csv.zip'

In [101]:
df = pd.read_csv(link, names=['rank', 'domain'])

In [102]:
df.head()

   rank        domain
0     1    google.com
1     2   youtube.com
2     3     baidu.com
3     4  facebook.com
4     5        qq.com

In [103]:
df['dom'] = df.domain.str.split('.').apply(lambda x: x[1])

In [104]:
df.head()

   rank        domain  dom
0     1    google.com  com
1     2   youtube.com  com
2     3     baidu.com  com
3     4  facebook.com  com
4     5        qq.com  com

In [116]:
print(df.groupby('dom', as_index=False).agg({'domain': 'count'}).sort_values('domain', ascending=False).rename(columns={'domain':'quantity'}).head(10).reset_index(drop=True))

        dom  quantity
0       com    350457
1        ru     25384
2       org     23775
3       net     22052
4        co     21343
5        ir     15301
6        in      9663
7  blogspot      7263
8        io      6302
9       gov      5088

In [ ]:
top_data_df = pd.read_csv(TOP_1M_DOMAINS_FILE, names=['rank', 'domain'])
top_data_df['dom'] = top_data_df.domain.str.split('.').apply(lambda x: x[1])
top_data_df.groupby('dom', as_index=False)\
           .agg({'domain': 'count'})\
           .sort_values('domain', ascending=False)\
           .rename(columns={'domain':'quantity'})\
           .head(10).reset_index(drop=True)

In [24]:
df['length'] = df.domain.apply(lambda x: len(x))

In [25]:
df.head()

   rank        domain  dom  length
0     1    google.com  com      10
1     2   youtube.com  com      11
2     3     baidu.com  com       9
3     4  facebook.com  com      12
4     5        qq.com  com       6

In [41]:
df.sort_values(['length', 'domain'], ascending=False)

,rank,domain,dom,length
402370,402371,bafybeigqqzk2vhqndlfuqmvy4cnqq4ht3z3dg7l7t4sbd...,ipfs,74
236956,236957,bafybeigdfyf3y47pobw6xtv26pc6tspjhyyyt676izpgt...,ipfs,74
343962,343963,bafybeifsbkuttd6yc5kpyuafuf46jn272nt4w6caqsbkm...,ipfs,74
236955,236956,bafybeidkozzkkekljcgsnedw3fi5lkzxsiui46fkitg6g...,ipfs,74
564704,564705,bafybeibupvhlpu7gjtwzlmcpf3ptxyaa4jhx7xkzoiycl...,ipfs,74
...,...,...,...,...
350346,350347,7.to,to,4
7341,7342,6.cn,cn,4
154176,154177,5.ua,ua,4
149835,149836,4.cn,cn,4
545075,545076,1.fm,fm,4

In [45]:
df.sort_values(['length', 'domain'], ascending=False).domain.head(1).to_list()[0]

'bafybeigqqzk2vhqndlfuqmvy4cnqq4ht3z3dg7l7t4sbd5vkyd4go7ahwm.ipfs.dweb.link'

In [46]:
df.head()

   rank        domain  dom  length
0     1    google.com  com      10
1     2   youtube.com  com      11
2     3     baidu.com  com       9
3     4  facebook.com  com      12
4     5        qq.com  com       6

In [64]:
df.query('domain == "airflow.apache.org"')

Empty DataFrame
Columns: [rank, domain]
Index: []

In [49]:
df.dtypes

rank       int64
domain    object
dom       object
length     int64
dtype: object

In [50]:
df.shape

(607126, 4)

In [61]:
df[df.domain == 'google.com']

   rank      domain
0     1  google.com

In [62]:
df[df.domain.str.startswith('airflow')]

          rank                   domain
127807  127808  airflowau.myshopify.com
321268  321269           airflow-gbt.ru

In [97]:

position = df.query('domain == "airflow.com"')['rank'].to_list()
if position:
    position = position[0]
else:
    position = 'not found'

In [98]:
position

'not found'

In [94]:
position

1